body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}

#myH1 {
    font-size: 4erm;
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 25%);
}